* {
  box-sizing: border-box;
}

@font-face { 
  font-family: 'Quicksand-Regular'; 
  src: url('./fonts/Quicksand-Regular.ttf');
} 

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('./fonts//Quicksand-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Quicksand-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
